<div class="jumbotron text-center">
  <h2>Angular Filepicker.io library demo</h2>
  <p class="lead">
    <img src="https://d2hbo3cbwd28c.cloudfront.net/74d23ac/img/dialog-branding.png" alt="Filepicer.io"><br>
    Your files are everywhere. Find them all in one place with <a target="_blank" href="https://www.filepicker.com/">Filepicker.com</a>
  </p>
</div>

<h3>Filepicker pick file directive</h3>
<div class="row">
	<div class="col-md-6">
		<input filepicker type="filepicker" data-fp-button-class="fp__btn" data-fp-services="computer,facebook,dropbox,box" on-success="pickResults=event.fpfile"/>
	</div>
	<div class="col-md-6">
		<pre>&lt;input filepicker type="filepicker" data-fp-services="computer,facebook,dropbox,box" on-success="pickResults=event.fpfile" /&gt;
		</pre>
		<h4>Results</h4>
		<pre>{{pickResults || 'Run example to see results' | json:2}}</pre>
	</div>
</div>

<h3>filepicker-dragdrop directive with multiple files option</h3>
<div class="row">
	<div class="col-md-6">
		<input filepicker type="filepicker-dragdrop" data-fp-multiple="true" on-success="pickMultipleResults=event.fpfiles"/>
	</div>
	<div class="col-md-6">
		<pre>&lt;input filepicker type="filepicker" data-fp-multiple="true" data-fp-services="computer,facebook,dropbox,box" on-success="pickMultipleResults=event.fpfiles" /&gt;
		</pre>
		<h4>Results</h4>
		<pre>{{pickMultipleResults || 'Run example to see results' | json:2}}</pre>
	</div>
</div>
<h3>Convert filter</h3>
<h4>Width = 200px</h4>
<div class="row">
	<div class="col-md-6">
		<img ng-src="{{'https://www.filepicker.io/api/file/qHi4LxRh28IeEBdJcFpw' | fpConvert: {w:200} }}">
	</div>
	<div class="col-md-6">
		<pre>&lt;img src="{{fpConvertExamples[0]}}&gt;</pre>
	</div>
</div>

<h4>Crop = 100,100,300,300</h4>
<div class="row">
	<div class="col-md-6">
		<img ng-src="{{'https://www.filepicker.io/api/file/qHi4LxRh28IeEBdJcFpw' | fpConvert: {crop:'100,100,300,300'} }}">
	</div>
	<div class="col-md-6">
		<pre>&lt;img src="{{fpConvertExamples[1]}}&gt;</pre>
	</div>
</div>

<h4>Filter = sharpen + width = 300</h4>
<div class="row">
	<div class="col-md-6">
		<img ng-src="{{'https://www.filepicker.io/api/file/qHi4LxRh28IeEBdJcFpw' | fpConvert: {filter:'sharpen',w: 250} }}">
	</div>
	<div class="col-md-6">
		<pre>&lt;img src="{{fpConvertExamples[2]}}&gt;</pre>
	</div>
</div>


<h3>filepicker-widget directive with multiple files option</h3>
<div class="row">
	<div class="col-md-6">
		<div filepicker-preview url="previewUrlExample" style="width:90%; height:500px"></div>
	</div>
	<div class="col-md-6">
		<h4>Select file to preview</h4>
    <select name="repeatSelect" ng-model="previewUrlExample">
      <option ng-repeat="option in previewUrls" value="{{option}}" ng-selected="$first">{{option}}</option>
    </select>
    <p>
			<pre>&lt;div filepicker-preview url="previewUrlExample" style="width:90%; height:500px"&gt; &lt;/div&gt;</pre>
		</p>
	</div>
</div>
